<phpunit
    beStrictAboutTestsThatDoNotTestAnything="false"
    bootstrap="bootstrap.php"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="Sniffs">
            <file>tests/LipeSniffs.php</file>
            <file>tests/LipePluginSniffs.php</file>
        </testsuite>
        <testsuite name="Fixtures">
            <file>tests/Fixtures.php</file>
            <file>tests/RulesetFixtureLipe.php</file>
            <file>tests/RulesetFixtureLipePlugin.php</file>
        </testsuite>
        <testsuite name="Unit Tests">
            <directory>./tests/Lipe/Traits</directory>
            <directory>./tests/Misc</directory>
        </testsuite>
    </testsuites>
</phpunit>
